<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="IsLocalHost" value="true" />
    <add key="site" value="ZPC" />
    <add key="SQL_SERVER_NAME" value="sqldev" />
    <add key="SQL_DATABASE_NAME" value="CFE_Kiosk" />
    <add key="SQL_USER_ID" value="cfekiosk" />
    <add key="SQL_PASSWORD" value="et|NO+EZ9Vz40ui}Orxejvk}KLJ4-qWml{NecBTkeqMaq.*1j/2UoM]^v1QmAdN){!-6Dy+/QgY.yz(IO8zOo(j1O;uQC3i1)TixKit=stUq:|n!Q0I3en/hUm*qvQ]Tk11c2MXc$8K5x0Rv!+W4[[B@NgkayfI$mAKpyt.++E=@syVxvGA0TOAp}Rk)Pmit@2L./PP}Xl5g$?V(q:o*}zBA)rNU|YELh8D;^3=qEdV918a@C/3cHNGUIZAn;9(2k46kUhmzb7qySQZV6T6eIi4e|j*tmoaVxYnc?U^^i1]6{_pai*$n1Y1T-aDRXGD[[XGq+rzk.x_o0oP68WuhA*/YRzG]ZeM@h]m_5($RM;QQ9Tkcq{99VuS/AK4ORqP2BneVv=8IskxstykET)=Rry(5iEK/fBIsCF@y?M]P;Eq2V9Ly*pBNt(LIIMYO!AWEXgmsB_g5gH2k9EW:!uIrq5Abh2_|rGA@5GNal-bNk8H+G(WMZdti^@H|}p(I:Jw01i=*==Q{6}:]hXFEkkJJf/9m.SZWvQkOx7:C=tefa*Ib@)NwMmMdBZ:0SJc2hcR-Ndcam+k*-u}{5l5*.92=D8x[T2tum*hCT50BSFt^4gOdZuvoLQaG8V11Sx])r82I!wFcsFWd$2-nVj6]7ys|2!K7zY@O=;Nu|UfePmyS}$cC_*G7SN7ByWcU0[+bmS)!)sO^w)|/;)Zq3*Nhk7S${$Gl3no=50;X)?APr49TIH6XgvY3foR{+Z)ow)8_wl{hrf{sIwaRY15Iv7L0GItOGI5P=H[|p5/v" />
    <add key="SQL_SERVER_NAME_SYTELINE" value="sqldev" />
    <add key="SQL_DATABASE_NAME_SYTELINE" value="ZPC_App_Dev" />
    <add key="SQL_USER_ID_SYTELINE" value="syteline9" />
    <add key="SQL_PASSWORD_SYTELINE" value="i@aU7QB1nfp(Ft@Fh(KF0xR9O88gc{Wlrj?)W$tXJ4*Y62XC1fM=e3*V|.+mmLZJ|qBQxl_6y]RQC4[ENWsMvvJ@E3[|u3e!]bRNJQr1vK[eYP(-p*DJK-NNtB$^e3{Yp}.BYf.KmXi[Tpx*AU3U$!S0op8c=*Gct5-beib=__sdAhlk5;il}Y2hstfPOCvj@d6BUpttC+GJN(Ju)lhxpFJ*SlGv/EgkUH)Upcjr/Jr2f:kJnHY|xwW-mTAN{4d^]w^B@6*{by9ukQ!z)eL/l[4PI$0fE17/Q)w.)N2W[w6|?5lQsMPo=0ot3wH_Qc*DcXqqXSQsEP24BdqkQ8$|7W}]F8c95oMF0^xs|zv]fa2VOl5zyCKCrz!Tg[_8zCbyU3!m9+@WsktJJ:Lo$;$;EGp?75bM[xY5.a@08S$+fFK12zaupv:0dIp0zrarUJzo:/V-if!5[/IGZb_IObo03CA/SHy:?vk+i1-R0TjNSknPq/bfFhJezMG/o[4Bn-[uJV-:y=l[FS(Ed4|v.kCladCvVh2{asyP81/mRe@(qS6NpDu|:RnfZhz@6JHo3AsL$nj?mMZqim)vkcYH_O?D0k2Ps]r3OmT+]KsA-|L1?8=BXv4ObJWRTWzoHWA)8y.R?CovsLx38t;:-kXmgg1-$W|14DGJErXAQ[axc^y-4{.Kx?iU24rFMg|Usnor8KhWqlHP2t:h07My++ZG.6WxzKi+IzU4UXt4z-_{c4eWwcd9xZx[L2p{eBolX$^A5t^1e_*r@5DoFV0QW[7H*0txC;t}b|WNmYh=" />
  </appSettings>
  <connectionStrings>
    <add name="DatabaseConnectionString" connectionString="Data Source={0};Database={1};User Id={2};Password={3}" />
  </connectionStrings>
</configuration>